<div class="sidebar-widget mb-50">
    <div class="widget-title text-center">
        <h4 class="title mb-30">@@Instagram</h4>
    </div>
    <div class="instagram-img">
        <a href="#"><img src="~/Content/img/sidebar/ins/1.jpg" alt="" /></a>
        <a href="#"><img src="~/Content/img/sidebar/ins/2.jpg" alt="" /></a>
        <a href="#"><img src="~/Content/img/sidebar/ins/3.jpg" alt="" /></a>
        <a href="#"><img src="~/Content/img/sidebar/ins/4.jpg" alt="" /></a>
        <a href="#"><img src="~/Content/img/sidebar/ins/5.jpg" alt="" /></a>
        <a href="#"><img src="~/Content/img/sidebar/ins/6.jpg" alt="" /></a>
        <a href="#"><img src="~/Content/img/sidebar/ins/7.jpg" alt="" /></a>
        <a href="#"><img src="~/Content/img/sidebar/ins/8.jpg" alt="" /></a>
        <a href="#"><img src="~/Content/img/sidebar/ins/9.jpg" alt="" /></a>
    </div>
</div>
